body {
	margin:0;
}

.oculus-wrapper {
	display:flex;
	height:100vh;
	width:100vw;
	margin:0;
	padding:0;
}

.oculus-wrapper [role="navigation"] {
	flex: 0 0 200px;
	margin:0 0 0 1rem;
}

.oculus-wrapper [role="main"] {
	flex:1;
	margin:0;
	height:100vh;
	overflow:hidden;
}

.oculus-wrapper [role="main"] .scroller {
	overflow:auto;
	height:100%;
}

/* section styles */
.oculus-wrapper .oculus-section {
	padding:1px;
	margin:1rem;
}

.oculus-wrapper .oculus-section .oculus-section-heading {
	color:#999;
	font-size:small;
	font-weight:normal;
}

.oculus-wrapper .oculus-section .oculus-section .oculus-heading {
	color:#ccc;
}

.oculus-wrapper .oculus-section .oculus-section .oculus-title {
	font-weight:400;
}

.oculus-wrapper .oculus-section .oculus-section .oculus-title .ref {

}

.oculus-wrapper .oculus-section .oculus-section .description {

}

.oculus-wrapper .oculus-section .oculus-section .mod-list {
	width:50%;
}

.oculus-wrapper .oculus-section .oculus-section .mod-list .mod-desc-group {

}

.oculus-wrapper .oculus-section .oculus-section .mod-list .mod-desc-group .mod-desc {

}

.oculus-wrapper .oculus-section .oculus-section .mod-list .mod-desc-group .mod-desc p {
	margin:0;
}

.oculus-wrapper .oculus-section .oculus-section .mod-list .mod-desc-group .mod-name {
	font-weight:bold;
}

.oculus-wrapper .oculus-section .oculus-section .mod-list .mod-example td {
	padding:1rem 0;
}

.oculus-wrapper .oculus-section .oculus-section .oculus-markup-block {

}

.oculus-wrapper .oculus-section .oculus-section .oculus-markup-block .oculus-markup-trigger {
	cursor:pointer;
}

.oculus-wrapper .oculus-section .oculus-section .oculus-markup-block .oculus-markup {
	display:none;
}

.oculus-wrapper .oculus-section .oculus-section .oculus-markup-block .oculus-markup {
	display:block;
}

.oculus-wrapper .oculus-section .oculus-section .oculus-markup-block .oculus-markup.prettyprint {
	padding:.5rem;
	border-radius:5px;
	border:solid 1px #ccc;
}

.oculus-wrapper .oculus-section .oculus-section .oculus-markup-block .oculus-markup.prettyprint.hide {
	display:none;
}
