/*
Text Input

A basic text input.

Markup:
<input type="text" class="{{modifier_class}}" />

:hover - Subtle hover highlight.
:focus - Subtle focus highlight and dark border.
.invalid - Invalid input detected.

Styleguide 4.0.1
*/
input {
	margin:0;
	padding:.3em;
	border:solid 1px #ccc;
}

/*
Email Input

An email-specific text input.

Markup:
<input type="email" class="{{modifier_class}}" />

:hover - Subtle hover highlight.
:focus - Subtle focus highlight and dark border.
.invalid - Invalid input detected.

Styleguide 4.0.2
*/
input[type="email"] {
	margin:0;
}

/*
Search Input

A search-specific text input.

Markup:
<input type="search" class="{{modifier_class}}" />

:hover - Subtle hover highlight.
:focus - Subtle focus highlight and dark border.
.invalid - Invalid input detected.

Styleguide 4.0.3
*/
input[type="search"] {
	margin:0;
}

input.invalid {
	border:solid 1px #f00;
}

input:focus, input.pseudo-class-focus,
input:hover, input.pseudo-class-hover {
	border:solid 1px #000;
	outline:none;
}

input:focus, input.pseudo-class-focus {
	box-shadow: 0 0 5px #ccc;
}

input:hover, input.pseudo-class-hover {

}
